html {
  scroll-behavior: smooth;
  scroll-padding-top: 70px;
  padding: 0;
}
body,
h1,
header,
p {
  padding: 0;
  margin: 0;
  font-family: "Inconsolata", monospace;
}

body {
  background-color: rgb(33, 33, 33);
  margin: 20px;
}
.body-wrapper {
  max-width: 1050px;
  margin: auto;
}
header {
  position: fixed;
  top: 0;
  width: 100%;
  margin: auto;
  background-color: rgb(33, 33, 33);
  margin-left: 0;
  left: 0;
  right: 0;
}

.header-wrapper {
  width: 75%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: auto;
  padding: 25px 0px 25px;
}

.nav-link {
  text-decoration: none;
  color: aquamarine;
}

.intro-container {
  display: flex;
  margin-top: 75px;
}

.intro-text-wrapper {
  margin-right: 10px;
  width: 800px;
}

.hello {
  font-size: 40px;
  font-weight: 700;
  color: aquamarine;
  padding-top: 25px;
}

.hello2 {
  font-size: 25px;
  font-weight: 500;
  color: rgba(127, 255, 212, 0.87);
  widows: 2;
}
.intro-text {
  color: rgba(255, 255, 255, 0.699);
  font-size: 20px;
  padding-top: 10px;
  line-height: 1.4;
}

.video1 {
  min-width: 260px;
  width: 40vw;
}
.exp-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 5px;
}

.exp-period {
  font-size: 15px;
}

.exp-section {
  width: 24vh;
}

.exp-h {
  border-top: white 1px solid;
  font-size: 20px;
  color: white;
  text-align: center;
}

.exp-title {
  color: rgb(241, 239, 239);
  padding-top: 10px;
}

.exp-subtitle {
  color: rgb(241, 239, 239);
}

.exp-desc {
  color: rgb(197, 201, 201);
}

.exp-period {
  color: gainsboro;
}

.exp-subtitle {
  font-weight: 300;
}

.emp {
  font-weight: 900;
}

.section-header {
  text-align: center;
  color: aquamarine;
  border: rgba(127, 255, 212, 0.548) 1px solid;
  margin: 100px 0px 50px 0px;
  padding: 5px;
}

.project-container {
  display: flex;
  justify-content: space-around;
  padding: 30px 0px 40px 0px;
}

.project-image {
  border-radius: 10px;
  width: 50vw;
  max-width: 550px;
}

.project-title {
  font-size: 20px;
  color: white;
}

.project-desc {
  height: 350px;
  width: 200px;
  width: 40%;
  line-height: 1.4;
  color: rgb(197, 201, 201);
}

.project-p {
  margin-top: 20px;
}
.experiments-container {
  display: flex;
  justify-content: space-around;
  padding: 30px 0px 40px 0px;
}

footer {
  padding: 10px 0px 10px;
  text-align: center;
  background-color: rgba(127, 255, 212, 0.829);
  height: 150px;
  z-index: 2;
  width: 100%;
  position: absolute;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.email-form {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: auto;
}

.ender {
  font-weight: 900;
}

.pop {
  font-size: 14px;
}

.message {
  padding: 10px;
}
input {
  font-family: "Inconsolata", monospace;
}

.submit-button {
  background: none;
}

@media only screen and (max-width: 925px) {
  .body-wrapper {
    width: 90%;
  }
  .project-container {
    flex-direction: column;
    align-items: center;
  }

  .video1 {
    width: 60vw;
    align-items: center;
  }
  .intro-container {
    flex-direction: column-reverse;
    align-items: center;
    margin: auto;
    width: 90%;
  }

  .intro-text-wrapper {
    margin-right: 0px;
    width: 100%;
  }
  .proj-2 {
    flex-direction: column-reverse;
  }
  .image-container {
    display: flex;
    justify-content: center;
  }
  .project-image {
    max-width: 90%;
    width: auto;
  }
  .project-desc {
    width: 90%;
    padding: 20px 0px 20px;
    height: auto;
  }
  .exp-section {
    margin: auto;
    width: 90%;
  }

  .experiments-container {
    flex-direction: column-reverse;
    align-items: center;
  }

  .exp-2 {
    flex-direction: column;
  }
  .experiment-image {
    display: flex;
    justify-content: center;
  }

  .cables-video {
    width: 90%;
    height: auto;
  }
  .eq {
    display: block;
  }

  .footer {
    width: 100%;
  }
}

@media only screen and (max-width: 605px) {
  .exp-section {
    width: 100%;
    align-items: center;
  }

  .header-wrapper {
    width: 100%;
    padding: 10px 0px 10px;
  }
}
